h1{
    text-align: center;}
img{
    display: block;
    margin: auto;}
table{
    width: 100%;
    border:  medium solid black;
    text-align: center;
    border-collapse: collapse;}
td,th{
    border: 1px solid black;
    padding: 10px;}
body{
    margin-left: 6cm;
    margin-right: 6cm;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
th{
    background-color: rgba(220, 216, 216, 0.888);}
.colonne1{
    text-align: left;}
p{
    text-align: justify;
}